@model Product 
<div class="card">
      <div class="card-body">
            <img src="@Model.ImageUrl" alt="" class="img-fluid">
            <h3>@Model.Name</h3>
            <p>@Model.Description</p>
            <p>@Model.Price</p>
            <button class="btn btn-success addCard" data-id="@Model.Id" id="btnSepet" >Sepete Ekle</button>
      </div>
</div>

