@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <p>Singleton: @ViewBag.Singleton</p>
   <p>Transient: @ViewBag.Transient</p>
   <p>Scoped: @ViewBag.Scoped</p>

   <h3>Servis ile gelenler</h3>
   <p>Singleton: @ViewBag.SingletonInService</p>
   <p>Transient: @ViewBag.TransientInService</p>
   <p>Scoped: @ViewBag.ScopedInService</p>
</div>
